.container{
    background-color: red;
    height: 200px;
    width: 100%;}

.container2{
    background-color: grey;
    height: 400px;
    width: 100%;
    text-align: left;
    border-bottom-right-radius: 30px
}
div{
    border=10px;   
    height= 200px;
    width: 500px;

}